*{
    margin: 0;
    padding: 0;
}

.contain{
    background-image: url("../image/removing-background-images_Unsplash.jpeg");
    height: 390px;
    width: 1000px;  
    margin: auto;
    padding-top: 70px;
}
.pay{
    width: 700px;
    height: 60px;
    margin: auto;
    color: white;
    font-family: sans-serif;
    text-align: center;
    
}

.t1{
    background-color: black;
    opacity: 70%;
    width: 700px;
    height: 60px;
    font-size: 35px;
}
.t2{
    background-color: rgb(255, 140, 207);
    opacity: 70%;
    width: 700px;
    height: 60px;
    font-size: 35px;
    color: rgb(6, 135, 255);
}
.t3{
    background-color: rgb(140, 222, 255);
    opacity: 70%;
    width: 700px;
    height: 60px;
    font-size: 35px;
}
.t4{
    background-color: rgb(245, 149, 161);
    opacity: 70%;
    width: 700px;
    height: 60px;
    font-size: 35px;
}
.t5{
    background-color: rgb(62, 178, 255);
    opacity: 70%;
    width: 700px;
    height: 60px;
    font-size: 35px;
}
.t6{
    background-color: rgb(233, 233, 233);

    width: 700px;
    height: 60px;
    font-size: 35px;
}
.t6 .btn{
    height: 40px;
    width: 180px;
    background-color: green;
    border: none ;
    font-size: 20px;
    color: white;
}
.t7{
    background-color: rgb(185, 79, 255);

    width: 700px;
    height: 60px;
    font-size: 35px;
}